<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<!--    Jquery library-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(function () {
            get_list();
        });

        function get_list(){
            $.ajax({
                url: "http://openapi.seoul.go.kr:8088/6d4d776b466c656533356a4b4b5872/json/RealtimeCityAir/1/99",
                data: {},
                dataType: "json",
                success: function(response){
                    let rows = response["RealtimeCityAir"]["row"];
                    console.log(rows)
                },

            });
        }

    </script>

</head>
<body>
    <h1>main page</h1>
    <a href="/detail">상세페이지로 가기</a>
    <h3>{{ name }}야 안녕!</h3>
</body>
</html>